<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aarne.kyppo.shoplistnotifier.app" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBlfF7DVTzEexgVyeGaLRqjnjdReMr_0zw" />

        <activity
            android:name="aarne.kyppo.shoplistnotifier.app.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="aarne.kyppo.shoplistnotifier.app.LocationService"
            android:process=":remote" />

        <activity
            android:name="aarne.kyppo.shoplistnotifier.app.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="aarne.kyppo.shoplistnotifier.app.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aarne.kyppo.shoplistnotifier.app.NewShoppingListActivity"
            android:label="@string/title_activity_new_shopping_list" >
        </activity>
    </application>

</manifest>
